@model MinhasFinancas.Web.ViewModels.PapelViewModel

@{
    ViewBag.Title = "Detalhes do Papel";
}

<div>Tela em contrução</div>

@Html.ActionLink("Voltar", "Index", new { area = "" }, new { @class = "btn btn-info" })
