@{
    ViewBag.Title = "Index";
}

<h2>Configurações</h2>


<div class="row">
    <div class="col-12">
        <span>Import seu excel da B3 (investidor b3)</span> <br />
        <hr />
        <input type="file" />
        <hr />
        <br />
        <br />
    </div>
</div>

